/*Browse button style (file upload)*/
.upload-container {
    width: auto;
    position: relative;
    overflow: hidden;
    direction: ltr;    
}
.file-input{
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    opacity: 0
}