@{
    ViewBag.Title = "Geocode Data";
}

<h2>Geocode</h2>
<div class="row-fluid">
    <div class="span12 well">
        <p>geocoding the data...Please wait!! (It'll take forever)</p>
    </div>
</div>